*{
	margin: 0;
	padding: 0;
}
.badboy{
	width: 0 !important;
	min-width: 0 !important;
	height: 0 !important;
	height: 0 !important;
	min-height: 0 !important;
	clear: both !important;
	float: none !important;
	overflow: hidden !important;
	border: none !important;
	outline: none !important;
}
body{
	background-color: #cfcfcf;
}
nav{
	background-image: url("images/menu-background.gif");
	-webkit-box-shadow: 0px 5px 5px #999;
	box-shadow: 0px 5px 5px #999;
}
nav menu{
	width: 950px;
	margin: 0 auto ;
	padding-top: 50px;
	height: 270px;
	padding-bottom: 10px;
}
menu div{
	width: 225px;
	background: #fff;
	height: 225px;
	float: left;
	margin-right: 12px;
}
div.guest{
	float: none;
	margin-left: 710px;
	margin-right: 0px !important;
}
hr{
	background-color: #2c2a24;
	height:2px;
	border:none;
	margin-top: -10px;
}
figure.hide{
	background-image:url("images/logo-navigation.png");
	background-position:50% -123px;
	width: 202px;
	height:50px;
	margin: -15px auto 0 auto;
	cursor: pointer;
}