.container
	position relative
	overflow hidden
	min-height 750px
menu
	margin 50px auto 0
	padding 0
	width 330px
menu li
	background-color #390
	padding 10px 7px
	float left
	margin-right 3px
	color #fff
	cursor pointer
	transition all 500ms 
menu li:last-child
	margin-right 0
menu li:hover
	background-color #064
section.pages
	width 950px
	height 600px
	position absolute
	transition all 1500ms
	opacity 0
div#slider
	padding-top 50px
section.aboutMe
	background-color #333
section.resume
	background-color #666
section.portfolio
	background-color #999
section.contactMe
	background-color #ccc
.page1 section.pages.aboutMe
	opacity 1
.page2 section.pages.resume
	opacity 1
.page3 section.pages.portfolio
	opacity 1
.page4 section.pages.contactMe
	opacity 1